<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
   <target>System.out</target>
    <encoder>
      <pattern>%d{HH:mm:ss} %-5level %msg%n</pattern>
    </encoder>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
